<aside>
💡 **Question 1**

Given an integer `n`, return *`true` if it is a power of three. Otherwise, return `false`*.

An integer `n` is a power of three, if there exists an integer `x` such that `n == 3x`.

**Example 1:**

```
Input: n = 27
Output: true
Explanation: 27 = 33
```

**Example 2:**

```
Input: n = 0
Output: false
Explanation: There is no x where 3x = 0.

```

**Example 3:**
    ```
    Input: n = -1
Output: false
Explanation: There is no x where 3x = (-1).
```
</aside>

In [10]:
def power_of_three(num):
    if num<0:
        return False
    elif num%3!= 0 :
        return False
    else:
        num=num//3
        
    return True

In [14]:
num = 27
power_of_three(num)

True

<aside>
💡 **Question 2**

You have a list `arr` of all integers in the range `[1, n]` sorted in a strictly increasing order. Apply the following algorithm on `arr`:

- Starting from left to right, remove the first number and every other number afterward until you reach the end of the list.
- Repeat the previous step again, but this time from right to left, remove the rightmost number and every other number from the remaining numbers.
- Keep repeating the steps again, alternating left to right and right to left, until a single number remains.

Given the integer `n`, return *the last number that remains in* `arr`.

**Example 1:**

```
Input: n = 9
Output: 6
Explanation:
arr = [1, 2,3, 4,5, 6,7, 8,9]
arr = [2,4, 6,8]
arr = [2, 6]
arr = [6]

```

**Example 2:**
```
Input: n = 1
Output: 1
```
</aside>

In [26]:
def lastRemaining(n):
    if n == 1:
        return 1

    if n % 2 == 1:
        return 2 * lastRemaining(n // 2)
    else:
        return 2 * lastRemaining(n // 2 - 1) + 1

# Example usage:
n = 9
result = lastRemaining(n)
print(result)

6

<aside>
💡 **Question 3**

****Given a set represented as a string, write a recursive code to print all subsets of it. The subsets can be printed in any order.

**Example 1:**

Input :  set = “abc”

Output : { “”, “a”, “b”, “c”, “ab”, “ac”, “bc”, “abc”}

**Example 2:**

Input : set = “abcd”

Output : { “”, “a” ,”ab” ,”abc” ,”abcd”, “abd” ,”ac” ,”acd”, “ad” ,”b”, “bc” ,”bcd” ,”bd” ,”c” ,”cd” ,”d” }

</aside>

In [27]:
def printSubsets(set_str, index, current_subset):
    if index == len(set_str):
        print(current_subset)
        return

    printSubsets(set_str, index + 1, current_subset)  # Exclude current character

    current_subset += set_str[index]
    printSubsets(set_str, index + 1, current_subset)  # Include current character

    # Backtrack: Remove the last character from the current subset
    current_subset = current_subset[:-1]

# Example usage:
set_str = "abc"
printSubsets(set_str, 0, "")

c
b
bc
a
ac
ab
abc

<aside>
💡 **Question 4**

Given a string calculate length of the string using recursion.

**Examples:**
```
Input : str = "abcd"
Output :4

Input : str = "GEEKSFORGEEKS"
Output :13
```    
</aside>

In [29]:
def calculateLength(s, index):
    if index == len(s):
        return 0

    return 1 + calculateLength(s, index + 1)


s = "GEEKSFORGEEKS"
length = calculateLength(s, 0)
print(length)

13

<aside>
💡 **Question 5**

We are given a string S, we need to find count of all contiguous substrings starting and ending with same character.

**Examples :**
```    
    Input  : S = "abcab"
Output : 7
There are 15 substrings of "abcab"
a, ab, abc, abca, abcab, b, bc, bca
bcab, c, ca, cab, a, ab, b
Out of the above substrings, there
are 7 substrings : a, abca, b, bcab,
c, a and b.

Input  : S = "aba"
Output : 4
The substrings are a, b, a and aba
    ```

</aside>

In [36]:
def countContiguousSubstrings(S):
    count = 0
    n = len(S)

    for i in range(n):
        count += 1  # Increment count for single character substring
        j = i + 1

        while j < n:
            if S[i] == S[j]:
                count += 1
                j += 1
            else:
                break

    return count

# Example usage:
S = "aba"
result = countContiguousSubstrings(S)
print(result)

3

Question 6

The [tower of Hanoi](https://en.wikipedia.org/wiki/Tower_of_Hanoi) is a famous puzzle where we have three rods and **N** disks. The objective of the puzzle is to move the entire stack to another rod. You are given the number of discs **N**. Initially, these discs are in the rod 1. You need to print all the steps of discs movement so that all the discs reach the 3rd rod. Also, you need to find the total moves.**Note:** The discs are arranged such that the **top disc is numbered 1** and the **bottom-most disc is numbered N**. Also, all the discs have **different sizes** and a bigger disc **cannot** be put on the top of a smaller disc. Refer the provided link to get a better clarity about the puzzle.

**Example 1:**
```

Input:
N = 2
Output:
move disk 1 from rod 1 to rod 2
move disk 2 from rod 1 to rod 3
move disk 1 from rod 2 to rod 3
3
Explanation:For N=2 , steps will be
as follows in the example and total
3 steps will be taken.

```
Example 2:
```
Input:
N = 3
Output:
move disk 1 from rod 1 to rod 3
move disk 2 from rod 1 to rod 2
move disk 1 from rod 3 to rod 2
move disk 3 from rod 1 to rod 3
move disk 1 from rod 2 to rod 1
move disk 2 from rod 2 to rod 3
move disk 1 from rod 1 to rod 3
7
Explanation:For N=3 , steps will be
as follows in the example and total
7 steps will be taken.
```

In [35]:
def towerOfHanoi(N, source, auxiliary, destination):
    if N == 1:
        print("move disk 1 from rod", source, "to rod", destination)
        return 1

    count = 0
    count += towerOfHanoi(N - 1, source, destination, auxiliary)
    print("move disk", N, "from rod", source, "to rod", destination)
    count += 1
    count += towerOfHanoi(N - 1, auxiliary, source, destination)

    return count

# Example usage:
N = 2
total_moves = towerOfHanoi(N, 1, 2, 3)
print(total_moves)

move disk 1 from rod 1 to rod 2
move disk 2 from rod 1 to rod 3
move disk 1 from rod 2 to rod 3
3

<aside>
💡 **Question 7**

Given a string **str**, the task is to print all the permutations of **str**. A **permutation** is an arrangement of all or part of a set of objects, with regard to the order of the arrangement. For instance, the words ‘bat’ and ‘tab’ represents two distinct permutation (or arrangements) of a similar three letter word.

**Examples:**

> Input: str = “cd”
> 
> 
> **Output:** cd dc
> 
> **Input:** str = “abb”
> 
> **Output:** abb abb bab bba bab bba
> 
</aside>

In [8]:
def get_permutation(string):
    if len(string)==1:
        return string
    permutation=[]
    for i in range(len(string)):
        first_chr = string[i]
        remaining_char= string[:i]+string[i+1:]
        sub_permutation = get_permutation(remaining_char)
        for sub_per in sub_permutation:
            permutation.append(first_chr+sub_per)
            
    return permutation

In [9]:
string = 'abb'
get_permutation(string)

['abb', 'abb', 'bab', 'bba', 'bab', 'bba']

<aside>
💡 **Question 8**

Given a string, count total number of consonants in it. A consonant is an English alphabet character that is not vowel (a, e, i, o and u). Examples of constants are b, c, d, f, and g.

**Examples :**
```
Input : abc de
Output : 3
There are three consonants b, c and d.

Input : geeksforgeeks portal
Output : 12
```
</aside>

In [3]:
def count_consonants(string):
    vowel='aeiouAEIOU '
    count = 0
    for ele in string:
        if ele not in vowel:
            count +=1
            
    return count

In [4]:
string ='geeksforgeeks portal'
count_consonants(string)

12